apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-gql-deployment
  namespace: app
  labels:
    app: spring-gql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-gql
  template:
    metadata:
      labels:
        app: spring-gql
    spec:
      dnsPolicy: Default
      containers:
        - name: spring-gql-container
          image: asia-southeast2-docker.pkg.dev/galvanic-tea-477705-u8/ridho-portofolio-repo/spring-gql:v2
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: spring-gql-secret
                  key: mongodb-uri
#            - name: MONGODB_PREFIX_URL
#              valueFrom:
#                configMapKeyRef:
#                  name: spring-gql-config-map
#                  key: mongodb_prefix_url
#            - name: MONGODB_CLUSTER
#              valueFrom:
#                configMapKeyRef:
#                  name: spring-gql-config-map
#                  key: mongodb_cluster
            - name: MONGODB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: spring-gql-config-map
                  key: mongodb_db_name
          resources:
           limits:
             cpu: 300m
             memory: 512Mi
           requests:
             cpu: 200m
             memory: 512Mi
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            failureThreshold: 50
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 180 #(default)
            periodSeconds: 10 # default
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 0 #(default)
            periodSeconds: 3 #(default)
---
kind: Service
apiVersion: v1
metadata:
  name: spring-gql-service
  namespace: app
spec:
  selector:
    app: spring-gql
  type: ClusterIP
  ports:
    - name: spring-gql-service
      protocol: TCP
      port: 80
      targetPort: 8080 # port of pod
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: spring-gql-public
  namespace: app
  annotations:
    # Wajib: Annotation GKE untuk menentukan PATH Health Check GCLB
    # Ini mengatasi 404 dari GCLB karena defaultnya adalah '/'
    networking.gke.io/default-backend-health-check-path: "/actuator/health"
    kubernetes.io/ingress.class: "gce"
    
    # Optional: Jika Anda ingin Ingress controller lebih agresif dalam polling
    # ingress.kubernetes.io/backends: '{"k8s-bs-nama-service:8080":{"healthCheck":{...}}}' 
spec:
  # STANDAR MODERN: Menggunakan field daripada annotation
  ingressClassName: gce
  
  # Default Backend: Merutekan semua traffic (path: /) ke Service
  defaultBackend:
    service:
      name: spring-gql-service
      port:
        number: 80 # Port Service ClusterIP